
body{
    --color-bg: #17141d;
    --color-button-primary: #eeeeee;
    --color-button-secondary: #ff0000;
    --color-social_media-icons_background: #ffffff;
    --color-top_bar: #17141d;
}
body.isBigFire{

}